<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Command</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="/assets/js/web/jquery.min.js"></script>
    <script src="/assets/js/web/bootstrap.min.js"></script>
    <script src="/assets/js/web/fontawesome-all.min.js"></script>
    <script src="/assets/js/web/main.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="home">
                    <a href=""><img src="../assets/images/home.png" alt=""> Home</a>
                    <form action="" class="search">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="search">
                    </form>
                </div>
                <div class="account">
                    <span>Hi, User</span>
                    <a href="#"><img src="../assets/images/icon-logout.png" alt="">Log out</a>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="container">
            <div class="row">

                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 menu">
                    <ul>
                        <li class="active">
                            <a href="/admin/project">
                                <img src="/assets/images/project.png" alt="">
                                <span class="title">Project</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/user">
                                <img src="/assets/images/user.png" alt="">
                                <span class="title">User</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/server">
                                <img src="/assets/images/server.png" alt="">
                                <span class="title">Server</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 page-content user-content">
                    <div class="page-title">
                        <h1>Recent user</h1>
                    </div>
                    <div class="search-user">
                        <form action="">
                            <input type="text" name="" id="">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    <div class="user-project">
                        <div class="users">
                            <div class="title">User</div>
                            <div class="list-users">
                                <a href="#" class="add-button" data-toggle="modal" data-target="#addUser">+ Add user</a>
                                <ul>
                                    <li>User name 1
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                        <div class="action">
                                            <a href="">Edit</a>
                                            <a href="">Delete</a>
                                        </div>
                                    </li>
                                    <li>User name 2
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                        <div class="action">
                                            <a href="">Edit</a>
                                            <a href="">Delete</a>
                                        </div>
                                    </li>
                                    <li>User name 3
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                        <div class="action">
                                            <a href="">Edit</a>
                                            <a href="">Delete</a>
                                        </div>
                                    </li>
                                    <li>User name 4
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                        <div class="action">
                                            <a href="">Edit</a>
                                            <a href="">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects">
                            <div class="title">Project</div>
                            <div class="list-projects">
                                <a href="#" class="add-button" data-toggle="modal" data-target="#addUserProject">+ Add project</a>
                                <ul>
                                    <li>Project name 1
                                        <span>x</span>
                                    </li>
                                    <li>Project name 2
                                        <span>x</span>
                                    </li>
                                    <li>Project name 3
                                        <span>x</span>
                                    </li>
                                    <li>Project name 4
                                        <span>x</span>
                                    </li>
                                    <li>Project name 5
                                        <span>x</span>
                                    </li>
                                    <li>Project name 5
                                        <span>x</span>
                                    </li>
                                    <li>Project name 5
                                        <span>x</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 list-user">
                    <div class="sidebar-title">
                        <h2>Online user</h2>
                    </div>
                    <ul>
                        <li>
                            <img src="/assets/images/status1.png" alt="">
                            <span class="title">User name 1</span>
                        </li>
                        <li>
                            <img src="/assets/images/status2.png" alt="">
                            <span class="title">User name 2</span>
                        </li>
                        <li>
                            <img src="/assets/images/status2.png" alt="">
                            <span class="title">User name 3</span>
                        </li>
                        <li>
                            <img src="/assets/images/status1.png" alt="">
                            <span class="title">User name 4</span>
                        </li>
                        <li>
                            <img src="/assets/images/status3.png" alt="">
                            <span class="title">User name 5</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- Modal add user -->
    <div id="addUser" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add user</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="add-user">
                        <div class="wrap-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" id="email">
                        </div>
                        <div class="wrap-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="wrap-group">
                            <label for="pass">Password:</label>
                            <input type="password" name="pass" id="pass">
                        </div>
                        <div class="wrap-group">
                            <label for="repass">Re-Password:</label>
                            <input type="password" name="repass" id="repass">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <!-- End modal add user -->

    <!-- Modal add project -->
    <div id="addUserProject" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add project</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="add-user">
                        <div class="wrap-group">
                            <label for="project_name">Name:</label>
                            <input type="text" name="project_name" id="project_name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <!-- End modal add project -->
</body>

</html>