<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Command</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/lodash/lodash.js"></script>
    <script src="/assets/angularjs/app-admin-project.js"></script>
    <script src="/assets/js/web/jquery.min.js"></script>
    <script src="/assets/js/web/bootstrap.min.js"></script>
    <script src="/assets/js/web/fontawesome-all.min.js"></script>
    <script src="/assets/js/web/main.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body ng-app="moduleProject">
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="home">
                    <a href=""><img src="/assets/images/home.png" alt=""> Home</a>
                    <form action="" class="search">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="search">
                    </form>
                </div>
                <div class="account">
                    <span>Hi, <%= name %></span>
                    <a href="#"><img src="/assets/images/icon-logout.png" alt="">Log out</a>
                </div>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 menu">
                    <ul>
                        <li class="active">
                            <a href="/admin/project">
                                <img src="/assets/images/project.png" alt="">
                                <span class="title">Project</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/user">
                                <img src="/assets/images/user.png" alt="">
                                <span class="title">User</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/server">
                                <img src="/assets/images/server.png" alt="">
                                <span class="title">Server</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 page-content project-content">
                    <div class="page-title">
                        <h1>List project</h1>
                        <button class="add" data-toggle="modal" data-target="#addProject">Add</button>
                    </div>
                    <div class="list-project" ng-app="listProject" ng-controller="listProjectController">
                        <ul>
                            <li ng-repeat="name in list_projects.data">
                                <a href="single-project.html">{{name.name}}</a>
                                <span><i class="fa fa-ellipsis-v"></i></span>
                                <div class="action">
                                    <a href="#" data-toggle="modal" data-target="#editProject">Edit</a>
                                    <a href="">Delete</a>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="add-button" ng-click="show-more">+ Show more</a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 list-user">
                    <div class="sidebar-title">
                        <h2>Online user</h2>
                    </div>
                    <ul>
                        <li>
                            <img src="/assets/images/status1.png" alt="">
                            <span class="title">User name 1</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal add project -->
    <div id="addProject" class="modal fade" role="dialog" ng-app="addProject" ng-controller="addProjectController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add project</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="add-user" ng-submit="add(project)">
                        <div class="wrap-group">
                            <label for="project_name">Name:</label>
                            <input type="text" name="project_name" id="project_name" ng-model="project.name">
                        </div>
                        <div class="wrap-group">
                            <label for="git">Git:</label>
                            <input type="text" name="git" id="git" ng-model="project.git">
                        </div>
                        <div class="wrap-group">
                            <label for="git">Host:</label>
                            <input type="text" name="git" id="git" ng-model="project.host_id">
                        </div>
                        <div class="wrap-group">
                            <label for="git">Categories:</label>
                            <input type="text" name="git" id="git" ng-model="project.categories">
                        </div>
                        <div class="wrap-group">
                            <label for="git">Framework:</label>
                            <input type="text" name="git" id="git" ng-model="project.framework">
                        </div>
                        <div class="wrap-group">
                            <label for="git">Status:</label>
                            <input type="text" name="git" id="git" ng-model="project.status_id">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal add project -->
    <!-- Modal edit Project-->
    <div id="editProject" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit project</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="add-user">
                        <div class="wrap-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="wrap-group">
                            <label for="pass">Status:</label>
                            <select name="" id="">
                                <option value="autobuild1"><img src="/assets/images/status2.png" alt=""> Auto-build</option>
                                <option value="autobuild2"><img src="/assets/images/status2.png" alt="">Auto-build 2</option>
                            </select>
                        </div>
                        <div class="wrap-group">
                            <label for="text">Text:</label>
                            <input type="text" name="text" id="text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal edit Project -->
</body>

</html>