<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Command</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/lodash/lodash.js"></script>
    <script src="/assets/angularjs/app.js"></script>
    <script src="/assets/angularjs/app-user.js"></script>
    <script src="/assets/js/web/jquery.min.js"></script>
    <script src="/assets/js/web/bootstrap.min.js"></script>
    <script src="/assets/js/web/fontawesome-all.min.js"></script>
    <script src="/assets/js/web/main.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script type="text/javascript">
    var user_id = `<%= id %>`;
    </script>
</head>

<body ng-app="moduleUser" ng-controller="controllerUser">
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="home">
                    <a href=""><img src="/assets/images/icon-admin.png" alt=""> Home</a>
                    <form action="" class="search" ng-submit="search($event, keySearch)" eat-click>
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Search" ng-change="keydown()" ng-model="keySearch">
                    </form>
                </div>
                <div class="account">
                    <span>Hi, <%= name %></span>
                    <a href="/logout"><img src="/assets/images/icon-logout.png" alt="">Log out</a>
                </div>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="page-content project-list-content">
                    <div class="page-title">
                        <h1>Projects</h1>
                    </div>
                    <div class="projects-list">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Host</th>
                                    <!-- <th>Git</th> -->
                                    <th>Status</th>
                                    <th>Categories</th>
                                    <th>Last build</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="project in projects">
                                    <td><a href='/project/{{project.id}}'>{{project.name}}</a></td>
                                    <td>{{project.host.host_name}}</td>
                                    <!-- <td>{{project.git}}</td> -->
                                    <td>{{project.status.name}}</td>
                                    <td>{{project.categories}}</td>
                                    <td>{{project.updated_at}}</td>
                                </tr>
                                <tr>
                                    <td><a href="" class="add-button" ng-style="styleMore" ng-click="showMore()">+ Show more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>