container_commands:
  00_command-02:
    command: "/bin/bash .ebextensions/02_env.sh"
  02_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  03_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  51-run-database-migrations:
    command: "./node_modules/.bin/sequelize db:migrate"
    leader_only: true
