container_commands:

  52-run-drop-dataabse:
    command: "./node_modules/.bin/sequelize db:drop"
    leader_only: true
  53-run-create-dataabse:
    command: "./node_modules/.bin/sequelize db:create"
    leader_only: true
  54-run-migerate:
    command: "./node_modules/.bin/sequelize db:migrate"
    leader_only: true
  55-run-database-seed:
    command: "./node_modules/.bin/sequelize db:seed:all"
    leader_only: true