.header {
    padding: 25px 0px;
    background: #3aab83;
    overflow: hidden;
    .header-content {
        @extend display-flex;
        @include justify-content(space-between);
        @include align-items(center);
        .home {
            @extend display-flex;
            @include align-items(center);
            a {
                img {
                    float: left;
                    padding-right: 10px;
                }
                color: #fff;
                font-size: 30px;
                padding-right: 90px;
            }
            .search {
                float: right;
                position: relative;
                .fa-search {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                input {
                    border: none;
                    padding: 5px 5px 5px 35px;
                    border-radius: 4px;
                    width: 270px;
                }
            }
        }
        .account {
            span {
                color: #fff;
                font-weight: 700;
            }
            a {
                color: #fff;
                padding-left: 30px;
                img {
                    padding-right: 5px;
                }
            }
        }
    }
}