.menu {
	ul {
		@extend list-type-ulli;
		li {
			margin-bottom: 15px;
			 a {
			 	color: $black-text;
			 	img {
			 		margin-right: 10px;
			 	}
			 }
			 &:hover {
			 	a{
			 		color: $blue-hover;
			 	}
			 }
		}
		.active {
			a {
				color: $blue-hover;
			}
		}
	}
}
.sidebar-title {
	h2 {
		font-size: 24px;
		color: $green-bg;
		margin-bottom: 20px;
	}
}
.list-user {
	ul {
		@extend list-type-ulli;
		li {
			margin-bottom: 15px;
			img {
				margin-right: 10px;
			}
		}
	}
}