.single-project-content {
	.page-title {
		margin-bottom: 30px;
	}
	.show-log {
		height: 200px;
		border: 1px solid $boder-color;
		.header-log {
			padding: 10px 35px;
			@extend display-flex;
			@include justify-content(space-between);
			border-bottom: 1px solid $boder-color;
			.project-framework {
				margin: auto 0;
			}
			.project-auto-action {
				select {
					border: 1px solid #eee;
					padding: 5px 10px;
					background: #fff url('../../assets/images/icon-drop-down.png') no-repeat scroll right center;
					// padding-right: 10px;
				}
			}
		}
		.content-log {
			padding: 10px 35px;
		}
	}
	.project-action {
		margin-top: 20px;
		button {
			padding: 6px 25px;
			background: $green-bg;
			border: none;
			@include border-radius(6px);
			color: #fff;
			margin-right: 15px;
		}
	}
}
.list-projects {
	ul {
		@extend list-type-ulli;
		li {
			margin-bottom: 15px;
			a {
				color: $black-text;
			}
		}
	}
}