.user-content {
	.search-user {
		margin: 20px 0px;
		form {
			input {
				padding: 5px 20px;
			}
			input[type="text"] {
				border: 1px solid $boder-color;
				width: 85%;
			}
			input[type="submit"] {
				@include border-radius(4px);
				background: $yellow-button;
				color: #fff;
				text-transform: uppercase;
				border: none;
				font-weight: bold;
				float: right;
			}
		}
	}
	.user-project {
		@extend display-flex;
		
		border: 1px solid $boder-color;
		.title {
			border-bottom: 1px solid $boder-color;
			text-align: center;
			padding: 10px 5px;
		}
		.list-users, .list-projects{
			padding: 25px 30px;
			ul {
				margin-top: 15px;
				@extend list-type-ulli;
				height: 160px;
				li {
					position: relative;
					span {
						float: right;
						color: $grey-color;
						font-weight: bold;
						cursor: pointer;
						width: 20px;
						text-align: right;
					}
					margin-bottom: 15px;
				}
			}
		}
		.users {
			border-right: 1px solid $boder-color;
			width: auto;
			width: 30%;
		}
		.projects {
			width: 70%;
			ul {
				overflow: auto;
				li {
					cursor: pointer;
					span {
						padding-right: 20px;
					}
				}
			}
		}
	}

}
.action {
	display: none;
	position: absolute;
	top: -70px;
	right: 10px;
	background: #fff;
	 @include box-shadow( 3px 4px 5px 2px #d2d2d2 );
	z-index: 10;
	a {
		display: block;
		padding: 10px 35px 10px 20px;
		color: $black-text;
		&:first-child {
			padding-bottom: 0px;
		}
	}
}
.current {
	color: $green-bg;
}
.project-active {
	color: red;
}